@import 'tailwindcss';

@plugin '@tailwindcss/forms';
@plugin "daisyui";

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';

@theme {
  --font-sans:
    Poppins, ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --background-image-hero-bg: url('/image/bghero.png');

  --color-pink: #fb657a;
  --color-heading: #f14c4c;
  --color-c-input: #f4f4f4;
}

/* Pastikan lebar halaman konstan */
html, body {
  width: 100%;
  overflow-x: hidden; /* Hindari horizontal scroll */
}

/* Saat modal aktif, hilangkan scrollbar tanpa geser layout */
body.modal-active {
  overflow-y: hidden;
  padding-right: 0; /* Hindari padding tambahan dari scrollbar */
}

/* Stabilkan navbar */
.navbar {
  width: 100vw; /* Gunakan viewport width untuk konsistensi */
  box-sizing: border-box; /* Pastikan padding tidak ubah lebar */
}

body.modal-active {
  overflow: hidden;
}

/*
  The default border color has changed to `currentColor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

* {
    @apply font-sans;
}


@keyframes marqueeLeft {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

@keyframes marqueeRight {
  from {
    transform: translateX(-50%);
  }
  to {
    transform: translateX(0);
  }
}

.marquee-left {
  display: flex;
  white-space: nowrap;
  animation: marqueeLeft 8s linear infinite;
}

.marquee-right {
  display: flex;
  white-space: nowrap;
  animation: marqueeRight 8s linear infinite;
}

